{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Budget Planning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    {% include 'home_budget_planning/language_selection.html' %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Home Budget Planning</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'receipts' %}">Receipts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'expenses' %}">Expenses</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        {% if user.is_administrator %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'receipt_categories' %}">Receipt Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'expense_categories' %}">Expense Categories</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    {% bootstrap_javascript jquery='full' %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center mt-5">
        <p>&copy; Home Budget Planning. All rights reserved.</p>
    </footer>

    {% include 'home_budget_planning/cookie_notification.html' %}
</body>
</html>

